@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box !important;
    list-style-type: none !important;
    text-decoration: none !important;
}

:root {
    /* font-size / */
    --fs-9: 9px;
    --fs-10: 10px;
    --fs-11: 11px;
    --fs-sm: 12px;
    --fs-base: 14px;
    --fs-15: 15px;
    --fs-lg: 16px;
    --fs-xl: 18px;
    --fs-2xl: 20px;
    --fs-3xl: 22px;
    --fs-4xl: 25px;
    --fs-5xl: 32px;
    --fs-6xl: 38px;
    --fs-7xl: 44px;
    --fs-8xl: 31px;

    /* / color */
    --color-orange: #FF5300;
    --color-black: #373737;
    --color-FFF7F4: #FFF7F4;
    --color-7B7B7B: #7B7B7B;
    --color-00ACFF: #00ACFF;
    --color-white: #FFFFFF;
    --color-zblack: #000000;

    /* line height */
    --lh-sm: 38px;
    --lh-md: 30px;
    /* --lh-sm: 38px */

}

.menulist {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-lg);
    font-weight: 500;
    line-height: 24.1px;
    color: var(--color-black);
}

.menu {
    top: 0%;
    right: 0%;
    z-index: 10;
    position: fixed;
    width: 100%;
}

.menulist2:hover::after {
    left: -50%;
    width: 100%;
}

.menulist2:hover {
    color: #FF5300;

}


.color-orange {
    color: var(--color-orange);
}

.mt-60 {
    margin-top: 60px;
}

.logo {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-2xl);
    font-weight: 700;
    line-height: 24.72px;
    color: var(--color-orange);
    cursor: pointer;
}

.menu {
    box-shadow: 0px 1px 10px 0px #0000001A;
    padding: 16px;
    position: fixed;
    width: 100%;
    background-color: var(--color-white);
}

.black {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-2xl);
    font-weight: 700;
    line-height: 24.72px;
    color: var(--color-black);
    cursor: pointer;
}

.digital {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-8xl);
    font-weight: 700;
    line-height: 59.33px;
    color: var(--color-orange);
    max-width: 440px;
}

.digita-1 {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-8xl);
    font-weight: 700;
    line-height: 59.33px;
    color: var(--color-orange);
}

.color-pink {
    background-color: var(--color-FFF7F4);
}

.about1 {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-2xl);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--color-7B7B7B);
}

.bg-greey {
    background-color: var(--color-black);
}

.width {
    max-width: 446px;
}

.lorem-f {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--color-white);
}

.heading {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-6xl);
    font-weight: 600;
    line-height: 48.28px;
    color: var(--color-white);
}

.links-f {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--color-white);
}

.white {
    color: var(--color-white);
}

.lorem-footer {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--color-white);
}

.orange-footer {
    width: 1440px;
    height: 60px;
    background-color: var(--color-orange);
}

.copy-right {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--color-white);
}

.f-form {
    border: 2px solid var(--color-orange);
    outline: none;
    padding: 10px;
    background-color: var(--color-black);
    color: var(--color-7B7B7B);
}

.f-btn {
    width: 81px;
    height: 60px;
    background-color: var(--color-orange);
    border: none;
    outline: none;
}

.pt-24 {
    padding-top: 24px;
}

.bordeer:hover .apps {
    right: 0%;
}

.bordeer:hover .apps-1 {
    right: 0%;
}

.apps {
    right: -100%;
    align-items: center;
    flex-direction: column;
    top: 10%;
}

.apps-1 {
    right: -100%;
    align-items: center;
    flex-direction: column;
    top: 20%;
}

.profection {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--color-7B7B7B);
    padding-bottom: 24px;
}

.name {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-2xl);
    font-weight: 500;
    line-height: 24.72px;
    color: var(--color-zblack);
}

.bordeer {
    box-shadow: 0px 1px 10px 0px #0000001A;
    overflow: hidden;
}

.c-pointer {
    cursor: pointer;
}

.lorem {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-2xl);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--color-7B7B7B);
    padding-top: 18px;
}

.number {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-8xl);
    font-weight: 700;
    line-height: 59.33px;
    color: var(--color-black);
}

.bg-orange {
    background-color: var(--color-orange);
}

.mt-8 {
    margin-top: 8px;
}

.outline {
    box-shadow: 0px 1px 10px 0px #0000001A;
    width: 100%;
    height: 250px;
    background-color: var(--color-white);
    align-items: center;
    justify-content: center;
}

.global {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.72px;
    color: var(--color-7B7B7B);
}

.h-120 {
    height: 120%;
}

.mt-120 {
    margin-top: 120px;
}

.w-fit {
    width: fit-content;
}

.latest {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-4xl);
    font-weight: 500;
    line-height: 30.9px;
    color: var(--color-white);

}

.h-95 {
    height: 95%;

}

.w-95 {
    width: 95%;
}

.card-sec:hover .orange-card {
    top: 2.2%;
}

.ui {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--color-white);
}

.mt-170 {
    margin-top: 170px;
}

.orange-card {
    background-color: var(--color-orange);
    opacity: 90%;
    top: -100%;
    transition: all linear 0.3s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    left: 2.5%;

}

.lorem-2 {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-2xl);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--color-7B7B7B);
}

.pt-60 {
    padding-top: 60px;
}

.gap-43 {
    gap: 43px;
}

.all-btns {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-2xl);
    font-weight: 500;
    line-height: 24.72px;
    text-align: center;
    color: var(--color-7B7B7B);
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
}

.all-btns:hover {
    color: var(--color-orange);
}

.ml-90 {
    margin-left: 90px;
}

.ml-10 {
    margin-left: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.orange-box {
    border-radius: 50px;
    background-color: var(--color-orange);
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-line {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-4xl);
    font-weight: 500;
    line-height: 30.9px;
    color: var(--color-orange);
}

.gap-18 {
    gap: 18px;
}

.mail {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-5xl);
    font-weight: 600;
    line-height: 38.62px;
    color: var(--color-black);
    padding-top: 8px;
}

.border-form {
    box-shadow: 0px 1px 10px 0px #0000001A;
    width: 330px;
    height: 60px;
    padding: 18px;
    width: 100%;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.mb-120 {
    margin-bottom: 120px;
}

.mt-24 {
    margin-top: 24px;
}

.name-11 {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--color-7B7B7B);
    outline: none;
    border: none;
    /* width: 670px; */
    box-shadow: 0px 1px 10px 0px #0000001A;
    height: 163px;
    padding-right: 5px;
    resize: none;
    margin-top: 24px;
    padding: 20px;

}

.name-1 {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--color-7B7B7B);
    outline: none;
    border: none;
    width: 100%;
    padding-right: 5px;
    resize: none;
}

.toll {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-2xl);
    font-weight: 500;
    line-height: 24.72px;
    color: var(--color-orange);
    align-items: center;
    padding-top: 20px !important;
}

.support {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-2xl);
    font-weight: 500;
    line-height: 24.72px;
    color: var(--color-7B7B7B);
    padding-top: 20px;
}

.child-slider-2 {
    box-shadow: 0px 1px 10px 0px #0000001A;
    padding: 20px;
}

.graphic-d {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--color-orange);
}

.name-2 {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-lg);
    font-weight: 500;
    line-height: 24.72px;
    text-align: center;
    color: var(--color-black);
    margin-right: auto !important;
}

.pl-10 {
    padding-left: 10px;
}

.massage-card {
    box-shadow: 0px 1px 10px 0px #0000001A;

}

.read {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--color-7B7B7B);
}

.steller {
    font-family: "Work Sans", sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 30.9px;
    color: var(--color-black);
}

.mr-90 {
    margin-right: 90px;
}

.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
    display: flex !important;
}

.slick-slide>div {
    display: flex;
}

.pl-25 {
    padding-left: 25px;
}

.child-slider {
    box-shadow: 0px 1px 10px 0px var(--color-black);
    background-color: var(--color-orange);
    width: 470px;
    height: 250px;
    padding: 25px;
}

.ceo {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.1px;
    color: var(--color-white);

}

.lorrm {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.1px;
    color: var(--color-white);
    max-width: 370px;
}

.slider-imges {
    top: 25px;
    left: -40px;
}
.h-79{
    height: 79%;
}

.slider-name {
    font-family: "Work Sans", sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 30.9px;
    text-align: center;
    color: var(--color-white);
}


.business-text-1 {
    color: var(--color-black);
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-8xl);
    font-weight: 700;
    line-height: var(--lh-md);
    padding-bottom: 50px;

}

.amet-text {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--color-7B7B7B);
    padding-top: 11px;
}

.pt-100 {
    padding: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.business-text {
    color: #373737;
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-8xl);
    font-weight: 700;
    line-height: var(--lh-sm);
    max-width: 440px;

}

.bg-pink {
    background-color: var(--color-FFF7F4);
}

.hover1 {
    right: -100%;
    transition: all 0.4s;

}

.sec-1:hover .hover1 {
    right: 0%;
    overflow: hidden;
}

.contact-btn {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-2xl);
    font-weight: 500;
    line-height: 24.72px;
    color: var(--color-white);
    background-color: var(--color-orange);
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    margin-top: 50px;
    transition: all linear 0.3s;


}

.apps-div {
    width: 40px;
    height: 40px;
    background-color: var(--color-white);
    justify-content: center;
    display: flex;
    align-items: center;
    transition: all 0.3s;
    box-shadow: 0px 1px 10px 0px #0000001A;


}

.apps-div svg path {
    fill: var(--color-orange);
}

.apps-div:hover svg path {
    fill: var(--color-white);
}



.apps-div:hover {
    background-color: var(--color-orange);
    box-shadow: 4px 5px 15px 0px #FF530066;
}

.slick-dots li.slick-active button:before {
    opacity: 0;
}

.slick-dots li.slick-active {
    background-color: var(--color-black);
    width: 49px;
    height: 15px;
    border-radius: 7.5px;
    z-index: 5;
    position: relative;
    opacity: 100;
}

.slick-dots li button::before,
.slick-dots li,
slick-dots li button {
    width: 15px;
    height: 15px;
    background-color: var(--color-orange);
    opacity: 100%;
    border-radius: 50px;
    font-size: 0;
    transition: all 0.4s linear;
}

.w-1320 {
    width: 1320px;
}



.about {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--color-7B7B7B);
    padding-bottom: 25px;
}

.outer {
    box-shadow: 0px 1px 10px 0px #0000001A;
    height: 200px;
}

.mb-60 {
    margin-bottom: 60px;
}

.world {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--color-black);
    max-width: 206px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.orange-circle {
    border-radius: 50%;
    background-color: var(--color-orange);
    width: 70px;
    height: 70px;
    display: grid;
    place-items: center;
    box-shadow: 0px 1px 10px 0px var(--color-orange);
    margin-bottom: 36px;
}

.orange-circle2 {
    border-radius: 50%;
    background-color: var(--color-7B7B7B);
    width: 70px;
    height: 70px;
    display: grid;
    place-items: center;
    box-shadow: 0px 1px 10px 0px var(--color-7B7B7B);
    margin-bottom: 36px;
}

.orange-circle3 {
    border-radius: 50%;
    background-color: var(--color-00ACFF);
    width: 70px;
    height: 70px;
    display: grid;
    place-items: center;
    box-shadow: 0px 1px 10px 0px var(--color-00ACFF);
    margin-bottom: 36px;
}

.orange-circle4 {
    border-radius: 50%;
    background-color: var(--color-black);
    width: 70px;
    height: 70px;
    display: grid;
    place-items: center;
    box-shadow: 0px 1px 10px 0px var(--color-black);
    margin-bottom: 36px;
}

.nav-icon {
    position: fixed;
    right: 5%;
}


.contact-btn:hover {
    background-color: var(--color-white);
    color: var(--color-orange);
    border: 2px solid var(--color-orange);
    box-shadow: 0 0 10px var(--color-7B7B7B);
}

.gap-25 {
    gap: 25px;
}

.menulist2::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -3px;
    left: 50%;
    background-color: #FF5300;
    transform: translate(50%);
    transition: all 0.3s;
}

.three-line {
    height: 2px;
    width: 32px;
    background-color: black;
    flex-direction: row;
}

.gap-94 {
    gap: 94px;
}

.white {
    color: white !important;
}

.max-w-1180 {
    max-width: 1180px;
}

.black_1 {
    color: var(--color-orange) !important;
}

.py-26 {
    padding-top: 26px;
    padding-bottom: 26px;
}

.gap-215 {
    gap: 215px;
}

@media (min-width:768px) {
    :root {
        /* font-size / */
        --fs-9: 9px;
        --fs-10: 10px;
        --fs-11: 11px;
        --fs-sm: 12px;
        --fs-base: 14px;
        --fs-15: 15px;
        --fs-lg: 16px;
        --fs-xl: 18px;
        --fs-2xl: 20px;
        --fs-3xl: 22px;
        --fs-4xl: 25px;
        --fs-5xl: 32px;
        --fs-6xl: 38px;
        --fs-7xl: 44px;
        --fs-8xl: 39px;
        /*  */
        --lh-sm: 40px;
        --lh-md: 38px;
    }

    .gap-md-67 {
        gap: 67px;
    }


}

@media (max-width: 767.9px) {
    .mobile_view {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 400ms linear;
        backdrop-filter: blur(90px);
        z-index: 4;
    }

    .menu_1 {
        z-index: 50;
    }

    .overflow_hidden {
        overflow: hidden;
    }

    .menu_1 span:nth-child(1) {
        height: 4px;
        width: 35px;
        background-color: var(--color-orange);
        display: block;
        border-radius: 30px;
    }

    .menu_1 span:nth-child(2) {
        height: 4px;
        width: 35px;
        background-color: var(--color-orange);
        display: block;
        border-radius: 30px;
    }

    .menu_1 span:nth-child(3) {
        height: 4px;
        width: 35px;
        background-color: var(--color-orange);
        display: block;
        border-radius: 30px;
    }

    .menu_1 span {
        transition: all 400ms linear;
    }

    .cross span:nth-child(1) {
        transform: rotate(42deg) translateY(16px);
        transition: 300ms linear;
        background-color: var(--color-zblack);
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 10ms linear;
    }

    .cross span:nth-child(3) {
        transform: rotate(-43deg) translateY(-15px);
        transition: 300ms linear;
        background-color: var(--color-zblack);
    }

    .right {
        left: 0;
    }

    .flex-col {
        flex-direction: column;
    }
}

@media (min-width:992px) {
    .gap-lg-266 {
        gap: 266px;
    }

    :root {
        /* font-size / */
        --fs-9: 9px;
        --fs-10: 10px;
        --fs-11: 11px;
        --fs-sm: 12px;
        --fs-base: 14px;
        --fs-15: 15px;
        --fs-lg: 16px;
        --fs-xl: 18px;
        --fs-2xl: 20px;
        --fs-3xl: 22px;
        --fs-4xl: 25px;
        --fs-5xl: 32px;
        --fs-6xl: 38px;
        --fs-7xl: 44px;
        --fs-8xl: 48px;
        /*  */
        --lh-sm: 60px;
        --lh-md: 48px;
    }


    .mt-lg-120 {
        margin-top: 120px;
    }
}